*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
transaction-logs
/lib/
R-unit-tests.log
R/unit-tests.out
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
dependency-reduced-pom.xml
derby.log
dev/create-release/*final
dev/create-release/*txt
dist/
docs/_site
docs/api
lib_managed/
lint-r-report.log
log/
logs/
out/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
python/lib/pyspark.zip
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-*-bin-*.tgz
spark-tests.log
src_managed/
streaming-tests.log
target/
unit-tests.log
work/

# For Hive
TempStatsStore/
metastore/
metastore_db/
sql/hive-thriftserver/test_warehouses
warehouse/

# For R session data
.RData
.RHistory
*.lck
tmlog22.log
!/user-dao/src/main/java/com/ppdai/user/dao/mapper/master/log/
!/user-dao/src/main/resources/com/ppdai/user/dao/mapper/master/log/
user-auth-third-common/src/main/resources/
user-auth-third-common/src/test/
user-auth-third-dao/src/test/
user-auth-third-domain/src/main/resources/
user-auth-third-domain/src/test/
user-auth-third-dto/src/main/resources/
user-auth-third-dto/src/test/
user-auth-third-manager/src/main/resources/
user-auth-third-manager/src/test/
user-auth-third-service/src/main/resources/
user-auth-third-service/src/test/
